* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c_olive_text: #828c38;
  --c_olive_bground: #828c38;
  --c_olive_hover: #4c7429;
}

body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  color: rgba(32, 30, 30, 0.712);
}

h3 {
  color: var(--c_olive_text);
}

.content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header {
  box-shadow: rgba(51, 16, 16, 0.1) 0px 1px 2px 0px;
  background-color: rgba(255, 255, 255, 0.959);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 10px 10px;
}

.header-logo {
  margin-left: 3%;
  width: 150px;
  height: 50px;
}

.nav-bar {
  float: right;
  margin-right: 4%;
}

.nav-bar a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  color: var(--c_olive_text);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-left: 40px;
}

.header a:hover {
  font-size: 20px;
  color: var(--c_olive_hover);
  /* text-decoration: underline; */
}


#form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

#form h1 {
  color: #495015b9;
  margin: 5px;
  font-size: 30px;
}

#form #email {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  height: auto;
  line-height: 21px;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  max-width: 100%;
}

#form #submit {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: var(--c_olive_bground);
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  height: auto;
  padding: 10px;
  width: 70%;
  transition: all 0.4s ease;
}

#form #submit:hover {
  background-color: var(--c_olive_hover);
}

.products {
  margin: auto;
  margin-top: 10px;
  width: 70%;
  padding: 20px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.products img {
  margin-right: 8%;
  width: 150px;
  height: 120px;
  float: left;
}

.products h3,
p {
  margin-left: 15px;
  display: flex;
  margin: 2px 0 0 0;
}

iframe {
  display: flex;
  margin: auto;
  margin-top: 20px;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.priceConHeader {
  background-color: rgba(219, 226, 217, 0.486);
  color: var(--c_olive_text);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

#priceBox {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.priceContainer > button {
  color: #fff;
  padding: 0 20px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2px;
  border: 0;
  margin: 15px 0;
  background-color: var(--c_olive_bground);
  font-weight: 400;
  cursor: pointer;
}

.priceContainer > button:hover {
  background-color: var(--c_olive_hover);
  transition: background-color 0.8s;
}

ol {
  list-style-type: none;
}

li {
  text-align: center;
  margin: 8px;
  color: rgba(32, 30, 30, 0.712);
}

footer {
  margin-top: 20px;
  height: 50px;
  background-color: rgba(219, 226, 217, 0.767);
}

footer > p {
  float: right;
  margin-right: 5%;
  padding: 10px;
  color: rgba(32, 30, 30, 0.527);
}



/* ------- RESPONSIVE -------*/
@media screen and (max-width: 625px) {
  .header {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
  }

  .header-logo {
    margin-left: 25%;
    margin-bottom: 8px;
  }

  .nav-bar a {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
  }

  .nav-bar {
    float: none;
  }

  .products {
    width: 100%;
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }

  .products img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    float: none;
  }

  .products h3 {
    text-align: left;
    padding: 7px 0px;
  }

  iframe {
    width: 90%;
  }

  #priceBox {
    flex-direction: column;
    align-items: center;
  }

  .priceContainer {
    width: 80%;
  }
}
